@page "/characters"
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Characters</PageTitle>

<h1>Characters</h1>

<p>
    <button class="btn btn-primary" @onclick="Create">New</button>
</p>

@if (characters == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Given Name</th>
                <th>Surname</th>
                <th>Alter Ego</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var character in characters)
            {
                <tr>
                    <td>@character.GivenName</td>
                    <td>@character.Surname</td>
                    <td>@character.AlterEgo</td>
                    <td><button class="btn btn-info" @onclick="@(() => View(character))">View</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private CharacterDto[]? characters;

    protected override async Task OnInitializedAsync()
    {
        characters = await Http.GetFromJsonAsync<CharacterDto[]>("api/Characters");
    }

    private void View(CharacterDto character)
    {
        var uri = $"{NavigationManager.BaseUri}characters/{character.Id}";

        NavigationManager.NavigateTo(uri);
    }

    private void Create()
    {
        var uri = $"{NavigationManager.BaseUri}characters/create";

        NavigationManager.NavigateTo(uri);
    }
}
